//babel配置
{
  "presets": [
    ['@babel/preset-env', // 依赖
      {
      "targets": {
        "browsers": ['>1%'] // 全球大于1%以浏览器为目标
      }
    }]
  ],
  "plugins": [
    ['@babel/transform-runtime'] // 局部引入es6方法
  ]
}